{% extends "base.html" %}

{% block content %}
	<a class="back" href="/competitions/{{ contest.competition.short_name }}">&larr; Back to competition</a>
	<h1>{{ contest.name }}</h1>
	{% if contest.contest_type.name == "team" and not current_user.team %}
		<p>You are not registered to a team; however, you can still participate in this contest individually.</p>
	{% endif %}
	<table>
		<tr>
			<th>#</th>
			<th>Problem</th>
			<th>Topics</th>
			<th>Status</th>
			<th>Points earned</th>
		</tr>
		{% for problem in contest.problems %}
			<tr>
				<td>{{ loop.index }}</td>
				<td><a href="/problem/{{ problem.id }}">{{ problem.name }}</a></td>
				<td>
					{% for topic in problem.topics %}
						<span
							class="problem-topic"
							style="color: {{ topic.topic.text_color }}; background: {{ topic.topic.bg_color }};"
						>{{ topic.topic.name }}</span>
					{% endfor %}
				</td>
				<td>
					{% if not problem_dict[problem.id]["has_submission"] %}
						Not attempted
					{% elif problem_dict[problem.id]["points_earned"] == 0 %}
						Attempted
					{% elif problem_dict[problem.id]["points_earned"] < problem.point_value %}
						<span style="color: #949900; font-weight: bold;">Partially complete</span>
					{% else %}
						<span style="color: #087300; font-weight: bold;">Complete</span>
					{% endif %}
				</td>
				<td>{{ problem_dict[problem.id]["points_earned"] }}/{{ problem.point_value }}</td>
			</tr>
		{% endfor %}
		<tr>
			<td colspan="4"><b>Total</b></td>
			<td><b>{{ problem_dict.values() | sum(attribute="points_earned") }}/{{ contest.problems | sum(attribute="point_value") }}</b></td>
		</tr>
	</table>
	<h2>Your {% if contest.contest_type.name == "team" %}team's {% endif %}submissions</h2>
	{% if user_submissions %}
		<table>
			<tr>
				<th>Problem</th>
				<th>Submission time</th>
				{% if contest.contest_type.name == "team" %}<th>Submitted by</th>{% endif %}
				<th>Status</th>
				<th>Points earned</th>
			</tr>
			{% for submission in user_submissions %}
				<tr>
					<td><a href="/problem/{{ submission.problem.id }}">{{ submission.problem.name }}</a></td>
					<td><span class="duration">{{ current_time - submission.timestamp }}</span> ago</td>
					{% if contest.contest_type.name == "team" %}<td>{{ submission.user.username }}</td>{% endif %}
					<td><a href="/submission/{{ submission.id }}">{{ submission.status.name }}</a></td>
					<td>{{ submission.points_earned }}/{{ submission.problem.point_value }}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>{% if contest.contest_type.name == "team" %}Your team has not{% else %}You have not{% endif %} submitted any solutions yet.</p>
	{% endif %}
{% endblock %}