* {
	box-sizing: border-box;
}

body {
	min-width: 1200px;
	overflow-y: hidden;
}

#navbar {
	position: relative;
}

#content {
	background: rgb(54, 58, 70);
}

#navbar-margin {
	margin: 0 !important;
}

.editor-container {
	position: relative;
	height: calc(100% - 60px);
	display: flex;
	padding: 10px 0 10px 10px;
}

#ace-container {
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: column;
}

#code-editor {
	height: 100%;
	width: 100%;
	font-size: 16px;
}

#content {
	width: 100%;
	height: 100vh;
	margin: 0 !important;
	padding: 0 !important;
	max-width: 100% !important;
}

#editor-controls-container {
	width: 40%;
}

#editor-controls {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#width-changer {
	width: 6px;
	margin: 5px 4px;
	cursor: col-resize;
	border-radius: 3px;
}

#width-changer:hover {
	background: #272b33;
}

#editor-controls-container {
	padding: 0 10px 0 0;
	height: 100%;
}

.editor-container > div > div {
	border-radius: 5px;
}

#editor-controls-top {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 15px 20px;
	background: #ddd;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
	align-items: center;
}

select {
	padding: 6px 20px;
}

.controls-top {
	display: flex;
	padding: 5px;
	margin: 5px 0;
	background: #282c34;
	border-radius: 5px;
	justify-content: space-between;
	overflow-x: auto;
}

.controls-top-section {
	display: flex;
}

.controls-top div:not(.controls-top-section) {
	border-radius: 5px;
	width: max-content;
	padding: 5px 10px;
	margin-right: 10px;
	cursor: pointer;
	user-select: none;
}

.controls-top div:not(.controls-top-section):not(.selected):not(.in-progress-button):hover {
	background: #343a44;
}

.controls-top .selected:not(.controls-top-section) {
	background: #3d4450;
}

#editor-controls-content {
	height: 100%;
	background: #282c34;
	border-radius: 5px;
	padding: 0 20px;
	overflow-x: auto;
}

#footer {
	display: none;
}

.editor-icon:not(.editor-icon-small) {
	margin-right: 4px;
	font-size: 15px;
}

.editor-icon-small {
	font-size: 17px;
}

.editor-icon-small-container {
	margin-right: 0 !important;
	width: 40px !important;
	height: 33px;
	text-align: center;
	position: relative;
}

.controls-top-section select {
	background: #282c34;
	color: white;
	border: none;
	font-size: 1em;
	padding: 0 7px;
	height: 100%;
}

.select-div {
	padding: 0 !important;
}

.test-case {
	width: 100%;
	margin: 20px 0;
	border-radius: 5px;
	background: #3d4450;
	min-width: 400px;
}

.test-case-header {
	padding: 5px 20px;
	background: #22262e;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.test-case-contents-container {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.test-case-section-header {
	font-weight: bold;
	font-size: 1.1em;
	background: #323842;
	padding: 10px 20px;
}

.test-case-section-content {
	padding: 0px 20px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 0.9em;
	text-wrap: wrap;
}

.test-case-section {
	width: 50%;
}

.test-case-explanation {
	width: 100%;
	padding-bottom: 10px;
}

.your-output-section {
	width: 100%;
}

.submission-link {
	color: white;
}

.submission-link:hover {
	text-decoration: underline;
}

.test-case-status {
	font-weight: normal;
	font-size: 0.9em;
	display: flex;
	align-items: center;
	margin-top: 3px;
}

.test-case-status-circle {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: grey;
	margin-right: 10px;
	position: relative;
}

.test-case-status-circle canvas {
	position: absolute;
	top: -2px;
	left: -2px;
}

a {
	text-decoration: none;
}

.large-loading-icon {
	position: absolute;
	top: 2px;
	left: 4px;
}

.in-progress-button {
	cursor: not-allowed !important;
	color: #aaa;
}

.submission-section {
	width: 100%;
}

.submission-section-header {
	padding: 5px 20px;
	display: flex;
	justify-content: space-between;
}

.submission-section-header:not(.test-case-header) {
	background: #323842;
}

.submission-section-content {
	padding: 0 20px 0 40px;
	display: flex;
	flex-direction: column;
}

.submission-test-case-result {
	display: flex;
	justify-content: space-between;
	margin: 5px 0;
}

.status-placeholder {
	display: flex;
	align-items: center;
}

.status-placeholder div {
	margin-left: 5px;
}

.status-placeholder .test-case-status-circle {
	margin-right: 0;
}

.submission-test-case-icon {
	display: flex;
	align-items: center;
}

.test-case-status-desc {
	margin-right: 7px;
	font-size: 0.85em;
}

.submission-test-case-icon > .test-case-status-circle {
	margin-right: 0 !important;
}

.not-submitted {
	text-align: center;
	padding: 30px 10px;
}

.custom-testcase-button {
	background: #3d4450;
	color: white;
	padding: 10px 20px;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	font-size: 1em;
	margin-bottom: 20px;
}

.custom-testcase-button:disabled {
	cursor: not-allowed;
}

.custom-testcase-button:not(:disabled):hover {
	background: #454c58;
}

.custom-testcase-button span {
	margin-right: 10px;
}

.custom-testcase-container pre {
	outline: none !important;
}

.custom-testcase-buttons {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 0 15px 15px 15px;
}

.custom-testcase-buttons button {
	padding: 7px;
	width: 100px;
	margin-left: 5px;
	background: #323842;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-size: 0.9em;
}

.custom-delete {
	font-size: 1.2em;
	cursor: pointer;
}