* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	margin: 0;
	box-sizing: border-box;
	background: #21242b;
	font-family: sans-serif;
	scroll-behavior: smooth;
	min-height: 100vh;
}

a {
	color: rgb(170, 170, 220);
}

#content {
	padding: 20px 80px;
	color: white;
	max-width: 1200px;
	margin: auto;
	min-height: calc(100vh - 60px);
}

#landing-image {
	width: 100%;
	height: 500px;
}

#landing-content {
	position: relative;
	z-index: 1;
	color: white;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 100px;
}

#landing-content h1 {
	font-size: 2.5em;
}

#landing-content div a {
	padding: 0 15px;
	color: white !important;
	text-decoration: none !important;
	font-size: 1.2em;
}

#landing-content div a:hover {
	text-decoration: underline !important;
}

#landing-image::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	background-size: cover;
	filter: brightness(0.4);
	width: 100%;
	height: 500px;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	display: flex;
	align-items: center;
	padding: 0 50px;
	justify-content: space-between;
	width: 100%;
	height: 60px;
	backdrop-filter: blur(5px);
	background: #1a1c20;
}

#navbar-year {
	color: rgb(200, 200, 255);
	padding-left: 10px;
	text-decoration: none;
}

#navbar-name-small {
	display: none;
}

#navbar div {
	color: rgb(220, 220, 220);
}

#navbar-links {
	text-align: right;
}

#navbar-links a {
	padding-left: 15px;
}

#navbar a:not(#navbar-year) {
	color: rgb(220, 220, 220) !important;
	text-decoration: none !important;
}

.section {
	margin: auto;
	max-width: 85%;
	color: rgb(230, 230, 230);
	padding: 20px 0 25px 0;
}

.section-container:nth-child(even) {
	background: rgb(25, 25, 35);
}

.section p, .section li {
	font-size: 1.05em;
	line-height: 1.3em;
}

#footer {
	background: #1a1c20;
	color: rgb(230, 230, 230);
	padding: 50px 0;
}

#footer-content {
	margin: auto;
	max-width: 80%;
}

.section-feature-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 30px;
}

.section-feature {
	width: 300px;
	text-align: center;
}

.section-feature img {
	width: 100px;
	filter: invert(0.8);
	transition: 0.3s;
}

.section-feature img:hover {
	filter: invert(1);
}

.text-image-holder {
	display: flex;
	align-items: center;
}

.section-text {
	width: 60%;
	padding: 10px;
}

.section-image {
	width: 40%;
	padding: 20px;
}

.text-image-holder img {
	width: 100%;
}

.big-number {
	font-size: 3.3em;
	font-weight: bold;
	color: rgb(100, 100, 250);
}

@media screen and (max-width: 1100px) {
	.text-image-holder {
		flex-wrap: wrap;
	}

	.section-text {
		width: 100%;
	}

	.section-image {
		width: 100%;
		padding: 20px;
	}
}

@media screen and (max-width: 600px) {
	#navbar-name-big {
		display: none;
	}

	#navbar-name-small {
		display: initial;
	}
}

.admin-board {
	padding: 10px 20px;
	background: #223;
	margin: 10px 0;
	border-radius: 5px;
}

.admin-school {
	margin: 10px 0;
	background: #222;
	padding: 10px;
	border-radius: 5px;
}

.admin-school-name {
	margin-bottom: 5px;
	display: block;
}

.admin-board-name {
	font-weight: bold;
	font-size: 1.2em;
	display: block;
}

.admin-board-controls {
	padding-bottom: 10px;
}

.admin-controls {
	margin-bottom: 20px;
}

.admin-controls * {
	margin-right: 10px;
}

.admin-team-name {
	font-size: 1.2em;
	margin-bottom: 5px;
	display: block;
}

.admin-contest {
	padding: 10px 20px;
	background: #111;
	border-radius: 5px;
}

.admin-contest-name {
	display: block;
	font-size: 1.2em;
}

form:not(.form) * {
	display: block;
}

form input, form select, form textarea, .form input[type=submit] {
	padding: 8px 15px;
	margin: 5px 0 10px 0;
	background: #323740;
	border-radius: 5px;
	color: white;
	outline: none !important;
	border: none;
}

form input[type=submit], .form input[type=submit] {
	cursor: pointer;
	padding: 10px 15px;
}

.back {
	color: rgb(185, 185, 185) !important;
	display: block;
	margin-bottom: 5px;
}

tr:nth-child(even) {
	background-color: #30303d;
}

tr:nth-child(odd) {
	background-color: #3a3a4d;
}

td, th {
	padding: 8px 12px;
	text-align: left;
}

.contest {
	padding: 10px 20px;
	margin: 10px 0;
	border-radius: 5px;
	border: 1px solid #445;
	background: #20202a;
	box-shadow: 3px 3px 0px #445;
}

.contest a {
	color: rgb(150, 150, 200);
}

.contest-title {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
}

.contest > span {
	display: block;
}

.sample-test-case {
	border: 1px solid #333;
	margin-bottom: 10px;
}

.sample-test-case > div {
	background: #1d1e20;
	padding: 5px 15px;
	border-bottom: 1px solid #333;
}

.sample-test-case > div:hover {
	background: #202124;
}

.sample-test-case > div:nth-child(odd) {
	background: #313339;
}

.sample-test-case > div:nth-child(odd):hover {
	background: rgb(51, 53, 59);
}

.test-case-data > pre {
	font-family: monospace;
	font-size: 1.1em;
}

textarea {
	font-family: monospace;
	width: 300px;
	height: 150px;
}

.submission-code {
	font-family: monospace;
	background: #31313f;
	font-size: 1.1em;
	padding: 10px;
}

code {
	white-space: pre-wrap;
}

.text-highlight {
	color: rgb(200, 200, 255);
}

#content h1 {
	border-bottom: 1px solid white;
	margin: 10px 0;
}

.open-in-editor {
	display: block;
	margin-top: 20px;
	padding: 10px 20px;
	text-decoration: none;
	width: max-content;
	background: #334;
	border-radius: 5px;
	color: #cce;
}