{% extends "admin/adminbase.html" %}

{% block content %}
	<a class="back" href="/admin/competitions">&larr; Back to competition management</a>
	<h1>School management</h1>
	<div class="admin-controls">
		<span>{{ competition.name }}</span>
		<a href="/admin/add-school/{{ competition.short_name }}">Add school</a>
		<a href="/admin/add-board">Add school board</a>
	</div>
	<div id="adminContainer">
		<table>
			<tr class="dark-row">
				<th>School name</th>
				<th>School board</th>
				<th>Actions</th>
				<th>Teachers</th>
				<th>Teams registered</th>
				<th>Students registered</th>
				<th>In person requested</th>
				<th>Synchronous</th>
			</tr>
			{% for school in competition.schools %}
				<tr class="light-row">
					<td>{{ school.name }}</td>
					<td>{{ school.school_board.name }}</td>
					<td>
						<a href="/admin/add-teacher/{{ school.id }}">Add teacher</a> &bull;
						<a href="/admin/manage/{{ school.id }}">Manage</a> &bull;
						<a href="/admin/delete-school/{{ school.id }}">Delete</a>
					</td>
					<td>
						{% for teacher in school.members %}
							{% if teacher.role.name == "teacher" %}
								<span>{{ teacher.username }}</span> (<a href="/admin/delete-user/{{ teacher.username }}">delete</a> &bull; <a href="/teacher/reset-password/{{ teacher.username }}">reset password</a>)<br>
							{% endif %}
						{% endfor %}
					</td>
					<td>{{ school.teams|length }}</td>
					<td>{{ students_by_school[school.id] }}</td>
					<td>{% if school.consider_in_person %}Yes (<a href="/admin/invite-teams/{{ school.id }}">{{ school.in_person_spots }} team{% if not school.in_person_spots == 1 %}s{% endif %} invited</a>){% else %}No{% endif %}</td>
					<td>{% if school.synchronous %}Yes{% else %}No{% endif %}</td>
				</div>
			{% endfor %}
			<tr class="dark-row">
				<th colspan="4">Totals</th>
				<th>{{ competition.schools|map(attribute="teams")|map("length")|sum }}</th>
				<th>{{ students_by_school.values()|sum }}</th>
				<td>
					{{ competition.schools|map(attribute="consider_in_person")|sum }} school{% if not competition.schools|map(attribute="consider_in_person")|sum == 1 %}s{% endif %} requested;<br>
					{{ competition.schools|map(attribute="in_person_spots")|sum }} team{% if not competition.schools|map(attribute="in_person_spots")|sum == 1 %}s{% endif %} invited;<br>
					{{ in_person_teams_by_school.values()|sum }} team{% if not in_person_teams_by_school.values()|sum == 1 %}s{% endif %} accepted
				</td>
				<th>{{ competition.schools|map(attribute="synchronous")|sum }}/{{ competition.schools|length }}</th>
			</tr>
		</table>
	</div>
{% endblock %}