{% extends "admin/adminbase.html" %}

{% block content %}
	<a class="back" href="/admin/contests/{{ contest.competition.short_name }}">&larr; Back to contest management</a>
	<h1>Edit problems</h1>
	<div class="admin-controls">
		<span>{{ contest.competition.name }} &bull; {{ contest.name }}</span>
		<a href="/admin/create-problem/{{ contest.id }}">Create problem</a>
	</div>
	{% if contest.problems %}
		<table>
			<tr>
				<th>Problem name</th>
				<th>Topics</th>
				<th>Actions</th>
				<th>Test cases</th>
				<th>Point value</th>
			</tr>
			{% for problem in contest.problems %}
				<tr class="admin-contest">
					<td><a href="/problem/{{ problem.id }}">{{ problem.name }}</a></td>
					<td>
						{% for topic in problem.topics %}
							<span class="problem-topic" style="color: {{ topic.topic.text_color }}; background: {{ topic.topic.bg_color }};">
								{{ topic.topic.name }}
								<a href="/admin/delete-problem-topic/{{ topic.id }}">x</a>
							</span>
						{% endfor %}
						<a href="/admin/add-problem-topic/{{ problem.id }}">Add</a>
					</td>
					<td>
						<a href="/admin/edit-problem/{{ problem.id }}">Edit</a> &bull;
						<a href="/admin/problems/{{ problem.id }}">Test cases</a> &bull;
						<a href="/admin/delete-problem/{{ problem.id }}">Delete</a>
					</td>
					<td>{{ problem.test_case_groups|length }} test case group{% if problem.test_case_groups|length != 1 %}s{% endif %}</td>
					<td>{{ problem.test_case_groups|sum(attribute="point_value") }}</td>
				</tr>
			{% endfor %}
			<tr>
				<th colspan="4">Total</th>
				<th>{{ contest.problems|sum(attribute="point_value") }}</th>
			</tr>
		</table>
	{% else %}
		<p>No problems have been added to this contest yet. Click "Create problem" above to add one.</p>
	{% endif %}
{% endblock %}