{% extends "base.html" %}

{% block content %}
	<a class="back" href="/admin/contests">&larr; Back to contest management</a>
	<h1>Edit problems</h1>
	<div class="admin-controls">
		<a href="/admin/create-problem/{{ contest.id }}">Create problem</a>
	</div>
	{% if contest.problems %}
		<table>
			<tr>
				<th>Problem name</th>
				<th>Actions</th>
				<th>Test cases</th>
				<th>Point value</th>
			</tr>
			{% for problem in contest.problems %}
				<tr class="admin-contest">
					<td>{{ problem.name }}</td>
					<td>
						<a href="/admin/edit-problem/{{ problem.id }}">Edit</a> &bull;
						<a href="/admin/problems/{{ problem.id }}">Test cases</a> &bull;
						<a href="/admin/delete-problem/{{ problem.id }}">Delete</a>
					</td>
					<td>{{ problem.test_cases|length }} test case{% if problem.test_cases|length != 1 %}s{% endif %}</td>
					<td>{{ problem.test_cases|sum(attribute="point_value") }}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>No problems have been added to this contest yet. Click "Create problem" above to add one.</p>
	{% endif %}
{% endblock %}