{% extends "base.html" %}

{% block content %}
	<a class="back" href="/admin">&larr; Back to admin</a>
	<h1>Contest management</h1>
	<div class="admin-controls">
		<a href="/admin/add-contest">Add contest</a>
	</div>
	<div id="adminContainer">
		<table>
			<tr>
				<th>Contest name</th>
				<th>Type</th>
				<th>Actions</th>
				<th>Start date</th>
				<th>End date</th>
				<th>Problems</th>
			</tr>
			{% for contest in contests %}
				<tr>
					<td>{{ contest.name }}</td>
					<td>{{ contest.contest_type.name }}</td>
					<td>
						<a href="/admin/edit-contest/{{ contest.id }}">Edit</a> &bull;
						<a href="/admin/edit-problems/{{ contest.id }}">Problems</a> &bull;
						<a href="/admin/delete-contest/{{ contest.id }}">Delete</a>
					</td>
					<td class="unix-timestamp">{{ contest.start_date }}</td>
					<td class="unix-timestamp">{{ contest.end_date }}</td>
					<td>{{ contest.problems|length }} problem{% if contest.problems|length != 1 %}s{% endif %}</td>
				</div>
			{% endfor %}
		</table>

	</div>
{% endblock %}