<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
		<script src="{{ url_for('static', filename='js/index.js') }}"></script>

		<title>{% block title %}Canadian Team Computing Competition{% endblock %}</title>

		{% block head %}{% endblock %}
	</head>
	<body>
		<div id="navbar">
			<div id="navbar-left">
				<a href="/">Canadian Team Programming Competition</a>
			</div>
			<div id="navbar-right">
				{% if current_user.is_authenticated %}
					{% if current_user.role.name == "admin" %}
						<a href="/admin">Admin</a>
					{% elif current_user.role.name == "teacher" %}
						<a href="/teacher">My students</a>
					{% elif current_user.role.name == "student" %}
						<a href="/team">My team</a>
					{% endif %}
					<a href="/logout">Logout</a>
				{% else %}
					<a href="/login">Login</a>
				{% endif %}
			</div>
		</div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>