<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">

		<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

		<title>{% block title %}Canadian Team Computing Competition{% endblock %}</title>
	</head>
	<body>
		<div id="navbar">
			<div id="navbar-left">
				<a href="/">Canadian Team Computing Competition</a>
			</div>
			<div id="navbar-right">
				{% if current_user.is_authenticated %}
					<a href="/logout">Logout</a>
				{% else %}
					<a href="/login">Login</a>
				{% endif %}
			</div>
		</div>
		{% block content %}{% endblock %}
	</body>
</html>