<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
		<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico' )}}">
		<script src="{{ url_for('static', filename='js/index.js') }}"></script>		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Canadian Team Programming Competition{% endblock %}</title>
		{% block head %}{% endblock %}
	</head>
	<body>
		<div id="navbar">
			<div>
				<span id="navbar-name-big"><a href="/">Canadian Team Programming Competition</a></span> <span id="navbar-name-small"><a href="/">CTPC</a></span> <a href="/competitions/2025" id="navbar-year">2025</a>
			</div>
			<div id="navbar-links">
				{% if current_user.is_authenticated %}
					<span>{{ current_user.username }}</span>
					{% if current_user.role.name == "admin" %}
						<a href="/admin">Admin</a>
					{% endif %}
					<a href="/logout">Logout</a>
				{% else %}
					<a href="/login">Login</a>
				{% endif %}
			</div>
		</div>
		<div style="margin-top: 60px;" id="navbar-margin"></div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			<div id="footer-content">
				&copy; 2024 CTPC organizers
			</div>
		</div>
	</body>
</html>