{% extends "base.html" %}

{% block head %}
	<script src="{{ url_for('static', filename='js/editor/ace.js') }}"></script>
	<script src="{{ url_for('static', filename='js/editor/ext-language_tools.js') }}"></script>
	<script src="{{ url_for('static', filename='js/editor/theme-one_dark.js') }}"></script>
	<script src="{{ url_for('static', filename='js/editor/mode-python.js') }}"></script>
	<script src="{{ url_for('static', filename='js/editor/mode-java.js') }}"></script>
	<script src="{{ url_for('static', filename='js/editor/mode-c_cpp.js') }}"></script>
	<script src="{{ url_for('static', filename='js/editor/editor.js') }}"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
{% endblock %}

{% block content %}
	<div class="editor-container">
		<div id="ace-container">
			<div class="controls-top">
				<div class="controls-top-section">
					<a href="/problem/{{ problem.id }}"><div><span class="fa fa-arrow-left editor-icon"></span> Back to problem</div></a>
					<div class="selected"><span class="fa fa-code editor-icon"></span> Code</div>
				</div>
				<div class="controls-top-section">
					<div class="select-div">
						<select id="language-selector">
							{% for lang in languages %}
								<option value="{{ lang.short_name }}">{{ lang.name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="editor-icon-small-container" title="Editor settings" id="select-settings">
						<span class="fa fa-gear editor-icon editor-icon-small"></span>
					</div>
				</div>
			</div>
			<div id="code-editor"></div>
		</div>
		<div id="width-changer"></div>
		<div id="editor-controls-container">
			<div id="editor-controls">
				<div class="controls-top">
					<div class="controls-top-section">
						<div id="select-problem" class="selected"><span class="fa fa-file-lines editor-icon"></span> Problem</div>
						<div id="select-test-cases"><span class="fa fa-list-ul editor-icon"></span> Test Cases</div>
						<div id="select-submissions"><span class="fa fa-file-contract editor-icon"></span> Submissions</div>
					</div>
					<div class="controls-top-section">
						<div class="editor-icon-small-container" title="Run sample test cases" id="run-sample-test-cases">
							<span class="fa fa-play editor-icon editor-icon-small"></span>
						</div>
						<div class="editor-icon-small-container" title="Submit solution" id="submit-solution">
							<span class="fa fa-arrow-right editor-icon editor-icon-small"></span>
						</div>
					</div>
				</div>
				<div id="editor-controls-content"></div>
			</div>
		</div>
	</div>
{% endblock %}