{% extends "base.html" %}

{% block content %}
	<a class="back" href="/admin/edit-problems/{{ problem.contest.id }}">&larr; Back to contest management</a>
	<h1>Test cases for {{ problem.name }}</h1>
	<div class="admin-controls">
		<a href="/admin/add-test-case/{{ problem.id }}">Add test case</a>
	</div>
	{% if problem.test_cases %}
		<table>
			<tr>
				<th>Test case #</th>
				<th>Point value</th>
				<th>Actions</th>
			</tr>
			{% for tc in problem.test_cases %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ tc.point_value }}</td>
					<td><a href="/admin/edit-test-case/{{ tc.id }}">Edit</a> &bull; <a href="/admin/delete-test-case/{{ tc.id }}">Delete</a></td>
				</tr>
			{% endfor %}
			<tr>
				<td><b>Total</b></td>
				<td><b>{{ problem.test_cases | sum(attribute="point_value") }}</b></td>
				<td></td>
			</tr>
		</table>
	{% else %}
		<p>No test cases have been added for this problem yet. Click "Add test case" above to add one.</p>
	{% endif %}
{% endblock %}